

*, *:before, *:after{
    box-sizing: border-box;
}

:root{
  --color-primary: lime;
  sctroll-behavior: smooth;
}

body{
  min-block-size: 100svb;
  margin: 0;
  font-family: system-ui;
}

nav{
  background-color: black;
  display; grid;
  place-items: center;

  ul{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a{
    display: inline-block;
    color: white;
    padding-block: 1rem;
    text-decoration: var(--nav_text-decoration);
    text-decoration-thickness: 0.25rem;
    text-decoration-color: var(--color-primary);
    text-underline-offset: 0.25rem;
    font-size: clamp(1rem, 2svb, 1.5rem);
       
    &.active{
      --nav_text-decoration: underline;
    }

    @media (hover: hover){
      &:hover{
        --nav_text-decoration: underline;
      }
    }
  }
}

h1{
  font-size: clamp(1.5rem, 5svb, 3rem);
}

h2{
  font-size: clamp(1.5rem, 3svb, 2.5rem);
}

section{
  margin-inline: auto;
  inline-size: min(calc(100svi - 2rem), 1024px);
}

p{
  font-size: 1.25rem;
  line-height: 1.7;
  margin-block-end: 2rem;
}

.button{
  display: inline-flex;
  padding: 1rem 2rem;
  border-radius: .5em;
  text-transform: uppercase;
  color: white;
  background-color: black;
  line-height: 1.25;
}

:where(.detail, .tile){
  display: grid;
  gap: clamp(1rem, 2svb, 1.5rem);
  padding: clamp(1rem, 2svb, 1.5rem);;
  border: 3px solid black;
  border-radius: 1rem;
}

.tile{
  grid-template-columns: auto 1fr;
  color: black;
  text-decoration: none;
  background-color: var(--tile_bg, transparent);
  transition: background-color 0.25s;
  
  @media (hover: hover){
    &:hover{
      --tile_bg: hsl(from lime h s l / 30%);
    }
  }

  img{
    display: block;
    max-inline-size: 100%;
    object-fit: cover;
  }

  strong{
    font-size: clamp(1rem, 2svb, 2rem);
  }
}

.detail{
  img{
    min-inline-size: 100%;
    object-fit: cover;
    block-size: 100%;
    min-block-size: auto;
  }

  h2, p{
    margin: 0;
  }
}