@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  //root, *, view-transition-name
  ::view-transition-group(*) {
    animation-duration: 0.5s;
  }

  ::view-transition-old(root) {
    animation-name: slide-out;
  }

  ::view-transition-new(root) {
    animation-name: slade-in;
  }

  ::view-transition-group(title) {
    animation-duration: 1s;
  }
}

header {
  view-transition-name: header;
}

h1 {
  view-transition-name: title;
  text-align: center;
  background-color: var(--color-primary);
}

@keyframes slade-in {
  from {
    translate: -100svi;
  }
}

@keyframes slide-out {
  to {
    translate: 100svi;
  }
}
